* {
  margin: auto;
  padding: auto;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-size: 1.5rem;
  padding: 0 10% 10%;
  background-image: url('pine.jpg');
  background-repeat: no-repeat;
  background-size:700px;
  background-position-x: center;
  background-position-y: center;
  background-color: brown;
  display: flex;
  justify-items: center;
  flex-direction: column;
  

}

input,
button {
  font: inherit;
  margin-top: 1em;
  margin-right: 2px;
  margin-left: 2px;
}

section {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1em;
 
}

main {
  max-width: 300px;
  margin: auto;
  
}

h1 {
  font-size: 3.5rem;
  color: aliceblue;
}


